In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [15]:
data = pd.read_csv("instagram_reach.csv")

In [16]:
data.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [17]:
data.drop('Caption', axis=1, inplace=True)

In [18]:
data['Time since posted'] = data['Time since posted'].str.extract('(\d+)').astype(int)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Rishav\AppData\Local\Temp\ipykernel_28832\2562841274.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Time since posted'] = data['Time since posted'].str.extract('(\d+)').astype(int)

In [19]:
data.head()

,Unnamed: 0,S.No,USERNAME,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,1,2,drgorillapaints,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23
2,2,3,aitrading_official,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,3,4,opensourcedworkplace,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,4,5,crea.vision,304,#instamachinelearning #instabigdata#instamarke...,3,30

In [20]:
data.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [21]:
data.dropna(inplace=True)

In [22]:
data.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [23]:
X = data[['Followers', ]]
y_likes = data['Likes']
y_time_since_posted = data['Time since posted']

In [24]:
#Spliting data into train and test sets
X_train, X_test, y_likes_train, y_likes_test, y_time_train, y_time_test = train_test_split(X, y_likes, y_time_since_posted, test_size=0.2, random_state=42)

In [25]:
rf_time = LinearRegression()
rf_time.fit(X_train, y_time_train)
time_predictions = rf_time.predict(X_test)

In [26]:
likes_mse = mean_squared_error(y_likes_test, likes_predictions)
time_mse = mean_squared_error(y_time_test, time_predictions)

print("mean squared error of Likes:", likes_mse)
print("mean squared error of Time since posted:", time_mse)

mean squared error of Likes: 351.9463070194445
mean squared error of Time since posted: 11.402562709203291

In [27]:
rf_likes = RandomForestRegressor()
rf_likes.fit(X_train, y_likes_train)
likes_predictions = rf_likes.predict(X_test)

In [28]:

likes_mse = mean_squared_error(y_likes_test, likes_predictions)
time_mse = mean_squared_error(y_time_test, time_predictions)

print("mean squared error of Likes:", likes_mse)
print("mean squared error of Time since posted:", time_mse)

mean squared error of Likes: 423.1707667111112
mean squared error of Time since posted: 11.402562709203291